@font-face {
  font-family: "iconfont"; /* Project id 4129589 */
  src: url('//at.alicdn.com/t/c/font_4129589_8dd3ozhd4vn.woff2?t=1687163864938') format('woff2'),
       url('//at.alicdn.com/t/c/font_4129589_8dd3ozhd4vn.woff?t=1687163864938') format('woff'),
       url('//at.alicdn.com/t/c/font_4129589_8dd3ozhd4vn.ttf?t=1687163864938') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-h-3:before {
  content: "\e797";
}

.icon-h-2:before {
  content: "\e798";
}

.icon-h-11:before {
  content: "\e700";
}

.icon-codelibrary:before {
  content: "\e793";
}

.icon-chexiao:before {
  content: "\e600";
}

.icon-zhongzuo:before {
  content: "\e602";
}

.icon-shanchuxian:before {
  content: "\e60e";
}

.icon-huiche:before {
  content: "\e601";
}

.icon-yinyong:before {
  content: "\e615";
}

.icon-code:before {
  content: "\e63b";
}

.icon-Table:before {
  content: "\e658";
}

.icon-bold:before {
  content: "\e7e7";
}

.icon-italic:before {
  content: "\e61c";
}

.icon-fengexian:before {
  content: "\e67d";
}

.icon-h-1:before {
  content: "\e786";
}
